:root {
  --primary_color: #026F92;
  --secondary_color1:#2909A2;
  --secondary_color2:#5AD000;
  --compliment_color:#EA7800;

  --black-chocolate: #1a160fff;
  --teal-blue: #4b7991ff;
  --forest-green-web: #0f8f36ff;
  --laurel-green: #c3d1a3ff;
  --ghost-white: #f5f5ffff;
}
