#ProjectsSample{
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "newest newest second second"
     "newest newest second second"
     "newest newest third fourth"
     "newest newest third fourth"
    ;

    margin-block: 2rem;
    height: 20rem;

    .project{
        &-1{
            grid-area: newest;
        }
        &-2{
            grid-area: second;
        }
        &-3{
            grid-area: third;
        }
        &-4{
            grid-area: fourth;
        }
        .debug-red {width: 50px; height: 200px}
    }
}
        
@media (max-width:700px){
    #ProjectsSample{
        grid-template-areas: 
        "newest newest"
        "newest newest"
        "newest newest"
        "newest newest"
        "second second"
        "second second" 
        "third fourth"
        "third fourth "
        ;
    }
    
}
@media (max-width:200px) {
    #ProjectsSample {
        grid-template-areas:
            "newest "
            "newest "
            "newest "
            "newest "
            "second "
            "second "
            "third "
            " fourth "
        ;
    }

}