@use "../../sass/mixins" as M
@use "../../sass/animations" as *
#WebDev
    margin-block: 3rem
    .icon-container
        display: flex
        justify-content: center
        flex-wrap: wrap
        gap: 1.5rem
        padding-inline: 1rem
        padding-block: .5rem
        margin-inline: auto
        overflow: hidden
        >*
            flex-shrink: 0
        .language
            display: grid
            justify-content: center
            align-content: center
            text-align: center

            .icon
                svg
                    @include M.ideal-font-size(48px)
.separator
    position: relative
    display: flex
    justify-content: center
    align-items: center
    gap: .5rem
    &::before,
    &::after
        content: ''
        display: block
        height: 0.09em
        min-width: 20vw

    &::before
        background: linear-gradient(to right, rgba(240,240,240,0), #fff)

    &::after
        background: linear-gradient(to left, rgba(240,240,240,0), #fff)
@media (max-width:20rem)
    .separator
        &::before,
        &::after
            display: none
