@use "../../sass/mixins" as M
@use "../../sass/animations" as *
#WebDev
    margin-block: 3rem
    .icon-container
        display: flex
        justify-content: center
        flex-wrap: wrap
        gap: 1.5rem
        padding-inline: 1rem
        padding-block: .5rem
        margin-inline: auto
        overflow: hidden
        >*
            flex-shrink: 0
        .language
            display: grid
            justify-content: center
            align-content: center
            text-align: center

            .icon
                svg
                    @include M.ideal-font-size(48px)

@media (max-width:20rem)
    .separator
        &::before,
        &::after
            display: none
