:root {
  --primary_color: #026f92;
  --secondary_color1: #2909a2;
  --secondary_color2: #5ad000;
  --compliment_color: #f8cf2d;

  --black-chocolate: #1a160fff;
  --teal-blue: #4b7991ff;
  --forest-green-web: #0f8f36ff;
  --laurel-green: #c3d1a3ff;
  --ghost-white: #f5f5ffff;

  --russian-violet: #241e4eff;
  --dark-red: #960200ff;
  --copper-red: #ce6c47ff;
  --sunglow: #ffd046ff;
  --medium-champagne: #eadaa2ff;
}
