footer {
  background-color: black;
}
.padding {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

footer p {
  padding: 0px;
  color: white;
  width: 100%;
}

footer #logos {
  display: flex;
  flex-direction: row;
}

footer #logos i {
  display: inline-block;
  color: white;
  margin: 10px;
  height: 1em;
  font-size: 20px;
}
footer #logos a :hover {
  color: grey;
}
