@import "colors.css";

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body,
html {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: var(--black-chocolate);
}
body {
  --s: 20rem; /* control the size */
  --c1: #1a160fff;
  --c2: rgb(89, 78, 61);
  --c3: rgb(74, 63, 44);

  --_g: var(--c3) 0 120deg, #0000 0;
  background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
    conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
    conic-gradient(
      from 60deg at calc(200% / 3),
      var(--c3) 60deg,
      var(--c2) 0 120deg,
      #0000 0
    ),
    conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
    linear-gradient(
      90deg,
      var(--c1) calc(100% / 6),
      var(--c2) 0 50%,
      var(--c1) 0 calc(500% / 6),
      var(--c2) 0
    );
  background-size: calc(1.732 * var(--s)) var(--s);
}

.name {
  font-family: Lobster, serif;
  font-style: italic;
  margin: auto;
}

.no-padding {
  padding: 0px;
}
.no-margin {
  margin: 0px;
}
.title {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  grid-gap: 10px;
  /* min-width: 800px */
}

.title h1 {
  color: var(--compliment_color);
}
.center {
  margin: 50px 25%;
  /* transform: translate(-25%, 0%); */
}
.title .logo {
  max-width: 200px;
  display: block;
  margin: auto;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  /* min-width: 300px; */
}

.title .name {
  font-size: 60px;
  text-align: center;

  margin-top: 30px;
}

#main {
  display: block;
  width: 90vw;
  margin: auto;
  margin-bottom: 0px;
  height: 100%;

  background-color: var(--secondary_color1);
  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 5px 5px 0px 0px;
}
/* tabs section */
/* #tabs {
  display: block;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: var(--primary_color);
  border: none;
  box-shadow: 15px 15px 1px 1px rgba(0, 0, 0, 0.5);

  font-family: Volkrom, serif;
} */
/* tabs content */
/* #tabs > div {
  min-height: 500px;
  animation: fadeEffect 0.5s;
}

#tabs > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 80%;
  transform: translate(0, -110.5%);
}

#tabs > ul > li {
  display: inline-block;
  width: 100%;
  border-top: 30px;
} */
/* #tabs > ul > li > a {
  width: 100%;
} */

/* Resume section*/
.white {
  color: white;
  padding-inline-start: 5vw;
}
#img_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;

  margin: 20px;
}
#tabs-1 > h1 {
  color: azure;
}

#introduction {
  width: 100%;
  color: azure;
  padding-inline: 5vw;
}
#subtitle {
  display: inline-flex;
  flex-direction: column;
  margin: none;
}

#subtitle > ul {
  transform: translate(0%, -50%);
}

.info {
  background-color: whitesmoke;
  padding-inline: 5vw;
}
#programming-languages > ul > li h3 {
  font-family: Merriweather, arial;
  font-size: 21px;
  overflow-wrap: break-word;
}
.thumbnail {
  display: block;
  width: 20rem;
  padding: 5px;
  margin: auto;
  border: 1px solid black;
  background-color: whitesmoke;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.5);
}
#programming-languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: content;
  gap: 50px;
  overflow-wrap: break-word;
}
#programming-languages > ul {
  font-size: 1.2rem;
}
#duration {
  font-size: 1rem;
}
#duration > p > b {
  font-style: italic;
  font-size: 1.5rem;
  text-shadow: rgba(0, 0, 0, 0.5) 4.5px 4.5px 2px;
  margin-right: 10px;
}

/* about me section */
#about-me {
  padding: 20px 50px;
  margin-bottom: 30px;
}
.description {
  max-width: 75ch;
  margin: auto;
  padding-inline: 5vw;
  /* font-size: 21px; */
}
#programming-history > p {
  display: inline;
  margin-left: 5px;

  font-size: 1.3rem;
}

@media (max-width: 750px) {
  html {
    width: 100%;
  }
  .center {
    margin: 50px 10%;
    /* transform: translate(-25%, 0%); */
  }
  .title {
    display: block;
  }
  .title .logo {
    min-width: 50px;
  }
  .title .name {
    font-size: 50px;
    text-align: center;
  }
  #img_section {
    grid-template-columns: 1fr;
    padding: 0px;
    margin: 0px;
  }
  #img_section > .thumbnail {
    display: block;
    gap: 0px;
    width: 80%;
  }
  #main {
    border-radius: 0px;
    width: 100%;
  }
  #about-me {
    padding: 20px 0px;
  }
}
