@use "../../sass/theme" as *
@use "../../sass/mixins" as *
#Home
    header
        display: flex
        height: 60dvh // * Maybe change it?
        background:
            color: $color-1
            image: url("/stars-background.svg")
        clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%)
        #Banner
            display: flex
            justify-content: center
            align-content: center
            align-items: center
            height: 100%

            .title
                position: relative
                isolation: isolate
                @include ideal-font-size(3rem)
                flex: 1
                max-width: 25rem

                line-height: 3.5rem

                $shadow-color: darken($color-1,10%)

                text-shadow: -5px 5px 0 $shadow-color,-1px -1px 0 $shadow-color, 1px -1px 0 $shadow-color,-1px 1px 0 $shadow-color, 1px 1px 0 $shadow-color
                .space,.slogan
                    display: block
                    text-align: end

                svg.moon
                    position: absolute
                    right: 0
                    top: -30%
                    @include ideal-font-size(10rem)
                    z-index: -1

                    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.808))

            .slogan
                @include ideal-font-size(1rem)
                line-height: 5rem
                text-align: end
                -webkit-text-stroke: 0px
