@use "../../sass/theme" as *
@use "../../sass/mixins" as *
#Home
    header
        display: flex
        height: 60vh // * Maybe change it?
        background:
            color: black
            image: url("/stars-background.svg")
        clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%)
        #Banner
            position: relative
            isolation: isolate
            display: flex
            justify-content: center
            align-content: center
            align-items: center
            height: 100%

            .title
                width: 20rem
                max-width: 30rem
                $shadow-color: darken($color-1,10%)
                $pos: 5px
                text-shadow: -$pos $pos 0 $shadow-color,-1px -1px 0 $shadow-color, 1px -1px 0 $shadow-color,-1px 1px 0 $shadow-color, 1px 1px 0 $shadow-color

                .david,.space
                    @include ideal-font-size(4rem)
                    line-height: 2.3rem
                .space
                    text-align: end
                .slogan
                    line-height: 3rem

            .visual
                position: absolute
                left: 100%
                transform: translateX(-100%)
                z-index: -1
